<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS --> <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage_style.css') }}">

    <!-- JS --> <script src="{{ url_for('static', filename='js/homepage_script.js') }}"></script>

    <!-- Image --> <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">

    <title>Homepage</title>
</head>
<body>
    <div class="main_form">
        <form action="/predict" method="POST" enctype="multipart/form-data">
            <label for="file">Upload Aadhaar Image:</label>
            <input type="file" name="file" id="file" accept="image/*" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>